button {
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px; /* Space between buttons */
    display: inline-block; /* Ensure buttons align horizontally */
}

button:last-child {
    margin-right: 0; /* Remove right margin from the last button */
}

/* Additional styling for table, forms, and container */
table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f2f2f2;
}

th,
td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Optional: Background color */
}

.login-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit the width */
    text-align: center;
}

.login-form div {
    margin-bottom: 1rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.login-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    width: 25%;
    padding: 0.75rem;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-top: 1rem;
    color: red; /* For error messages */
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f0f0f0; /* Optional: Background color */
}

.register-form {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit the width */
    text-align: center;
}

.register-form div {
    margin-bottom: 1rem;
}

.register-form label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.register-form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form button {
    width: 25%;
    padding: 0.75rem;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form p {
    margin-top: 1rem;
    color: red; /* For error messages */
}
